In [2]:
import numpy as np

import pandas as pd

In [3]:
df=pd.read_csv("product.csv")

In [4]:
df

               product_id  order_date  quantity
0       13b52198-282b47cc    1/2/2020         1
1       13e6c8b5-4cf1954c    1/2/2020         1
2       14a417db-2493ccbe    1/2/2020         1
3       14a417db-2493ccbe    1/2/2020         2
4       15e7b5d2-0dddbf19    1/2/2020         3
...                   ...         ...       ...
291176  dfb7d257-d51d3850  31/12/2020         1
291177  ea6f260f-7dc8a660  31/12/2020         1
291178  ea6f260f-7dc8a660  31/12/2020         1
291179  f1ff119f-9833e720  31/12/2020         2
291180  f37c1324-755fd110  31/12/2020         1

[291181 rows x 3 columns]

In [7]:
x=df[["product_id", "order_date"]].values

In [10]:
y=df[["quantity"]].values

In [11]:
x

array([['13b52198-282b47cc', '1/2/2020'],
       ['13e6c8b5-4cf1954c', '1/2/2020'],
       ['14a417db-2493ccbe', '1/2/2020'],
       ...,
       ['ea6f260f-7dc8a660', '31/12/2020'],
       ['f1ff119f-9833e720', '31/12/2020'],
       ['f37c1324-755fd110', '31/12/2020']], dtype=object)

In [12]:
y

array([[1],
       [1],
       [1],
       ...,
       [1],
       [2],
       [1]], dtype=int64)

In [13]:
from sklearn.model_selection import train_test_split

In [16]:
x_train, y_train, x_test, y_test=train_test_split(x, y, test_size=0.2, random_state=0)